h2 {
    font-family: 'Libre Baskerville', serif;;
    text-align: center;
    color: #ffffff
}

h3{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: #ffffff;
}

body{
    background-color: #000000;
    font-family: 'Libre Baskerville', serif;;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    background-color: #363636;
    color: #eeeeee;
    margin: 15px 30px;
    padding: 10px;
    border-radius: 18px;
    border: 1px solid #515151;
}

nav ul a {
    text-decoration: none;
}

nav ul li:hover {
    background-color: #a7a6a6;
    color: #ffffff;

}

section {
    background-color: #363636;
    border: 1px solid #515151;
    border-radius: 10px;
    width: 80%;
    margin: 30px auto 10px;
}

video, audio, videosY{
    width: 40%;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}

redesSociais, endereço{
display: inline;
padding: 20px;
margin: 80px;

}