h2{
    color: blueviolet;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
}
                                                                                                                                                                                                                                                                                                                                                     